.input, .textarea, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

* {
  box-sizing: border-box; }

html {
  overflow-y: scroll;
  min-width: 320px; }

html,
body {
  height: 100%; }

.layuot-global {
  min-height: 100%;
  padding-bottom: 85px;
  text-align: center; }

.layout-main {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px; }

.noscroll {
  overflow: hidden; }

@media (max-width: 760px) {
  .hide-for-s {
    display: none !important; } }

body {
  font-family: "PontanoSans";
  color: #333;
  background-color: #fff; }

@media screen and (min-width: 320px) {
  body {
    font-size: 16px;
    line-height: 22px; } }

@media screen and (min-width: 760px) {
  body {
    font-size: 16px;
    line-height: 22px; } }

@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
    line-height: 27px; } }

@media screen and (min-width: 1300px) {
  body {
    font-size: 18px;
    line-height: 27px; } }

input,
select,
textarea {
  font-family: "PontanoSans"; }

.visual-editor,
.text {
  font-family: "PontanoSans";
  color: #333; }

@media screen and (min-width: 320px) {
  .visual-editor,
  .text {
    font-size: 16px;
    line-height: 22px; } }

@media screen and (min-width: 760px) {
  .visual-editor,
  .text {
    font-size: 16px;
    line-height: 22px; } }

@media screen and (min-width: 1024px) {
  .visual-editor,
  .text {
    font-size: 18px;
    line-height: 27px; } }

@media screen and (min-width: 1300px) {
  .visual-editor,
  .text {
    font-size: 18px;
    line-height: 27px; } }

.visual-editor h1,
.title {
  font-family: "MontserratReg";
  color: black;
  margin-bottom: 30px; }

@media (max-width: 1024px) {
  .visual-editor h1,
  .title {
    margin-bottom: 10px; } }

.visual-editor h2,
.title_secondary {
  font-family: "MontserratReg";
  color: white;
  line-height: 45px;
  letter-spacing: 2.5px;
  margin-bottom: 16px; }

@media screen and (min-width: 320px) {
  .visual-editor h2,
  .title_secondary {
    font-size: 26px;
    line-height: 30px; } }

@media screen and (min-width: 1024px) {
  .visual-editor h2,
  .title_secondary {
    font-size: 35px;
    line-height: 40px; } }

@media screen and (min-width: 1300px) {
  .visual-editor h2,
  .title_secondary {
    font-size: 45px;
    line-height: 45px; } }

.visual-editor h3,
.title_third {
  font-family: "MontserratReg";
  color: black;
  margin-bottom: 20px;
  letter-spacing: 1px; }

@media screen and (min-width: 320px) {
  .visual-editor h3,
  .title_third {
    font-size: 18px;
    line-height: 22px; } }

@media screen and (min-width: 1024px) {
  .visual-editor h3,
  .title_third {
    font-size: 24px;
    line-height: 28px; } }

@media screen and (min-width: 1300px) {
  .visual-editor h3,
  .title_third {
    font-size: 30px;
    line-height: 45px; } }

.visual-editor h4,
.title_fourth {
  font-family: "MontserratReg";
  color: black;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 26px;
  letter-spacing: 2.5px; }

.visual-editor h4,
.visual-editor h5,
.visual-editor h6 {
  font-family: "MontserratReg";
  color: black;
  margin-bottom: 15px; }

@media screen and (min-width: 320px) {
  .visual-editor h4,
  .visual-editor h5,
  .visual-editor h6 {
    font-size: 16px;
    line-height: 22px; } }

@media screen and (min-width: 760px) {
  .visual-editor h4,
  .visual-editor h5,
  .visual-editor h6 {
    font-size: 16px;
    line-height: 22px; } }

@media screen and (min-width: 1024px) {
  .visual-editor h4,
  .visual-editor h5,
  .visual-editor h6 {
    font-size: 18px;
    line-height: 27px; } }

@media screen and (min-width: 1300px) {
  .visual-editor h4,
  .visual-editor h5,
  .visual-editor h6 {
    font-size: 18px;
    line-height: 27px; } }

.visual-editor a,
.link {
  color: #333;
  text-decoration: underline;
  cursor: pointer; }

.visual-editor a:hover,
.link:hover {
  text-decoration: none;
  color: #e1d454; }

.visual-editor p,
.visual-editor div {
  margin-bottom: 20px; }

.visual-editor ul,
.visual-editor ol {
  margin: 0 15px 10px 25px; }

.visual-editor ul {
  list-style: disc; }

.visual-editor ul li {
  list-style-type: disc; }

.visual-editor ol li {
  list-style-type: decimal; }

.visual-editor ul ul,
.visual-editor ol ol {
  margin: 0 15px 10px 25px; }

.visual-editor li {
  margin-bottom: 10px; }

.visual-editor table {
  margin-bottom: 15px;
  border: 1px solid #666;
  width: auto; }

.visual-editor td,
.visual-editor th {
  padding: 4px;
  border: 1px solid #666;
  text-align: left; }

.visual-editor th {
  font-weight: bold; }

.visual-editor strong {
  font-weight: bold; }

.visual-editor em {
  font-style: italic; }

.input {
  border: 1px solid #666;
  height: 37px;
  padding: 0 17px;
  width: 100%; }

.textarea {
  font-size: 12px;
  border: 1px solid #666;
  padding: 11px;
  width: 100%;
  height: 130px; }

.input, .textarea, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.button {
  display: inline-block;
  height: 37px;
  line-height: 37px;
  background-color: #e1d454;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  text-decoration: none;
  /* Text style for "send" */
  font-family: "MontserratLight";
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase; }

.button:hover {
  text-decoration: none;
  opacity: 0.8; }

.button:disabled,
.button_disabled {
  cursor: auto;
  opacity: .4;
  pointer-events: none; }

.select {
  border: 1px solid #666;
  height: 37px;
  padding: 0 11px; }

.select:focus {
  background-color: #222; }

.custom-select-wrap {
  border: 1px solid #666;
  height: 37px;
  width: auto;
  padding-right: 36px;
  min-width: 150px;
  position: relative;
  display: inline-block; }

.custom-select-wrap select {
  height: 100%;
  opacity: 0;
  position: relative;
  width: calc(100% + 36px);
  cursor: pointer; }

.custom-select-wrap_disabled {
  opacity: .4; }

.custom-select-wrap_disabled select {
  cursor: default; }

.custom-select-text::after {
  background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAMAAACgjTZZAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEUzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzP///9lOmigAAAAEXRSTlMAoZENz6QBFdO9BhfY0g8cv/1qPVcAAAABYktHRBJ7vGwAAAAACXBIWXMAAAsSAAALEgHS3X78AAAAKklEQVQI12NgFIQAJgZmFjCDlY2BgZ0DyODkYgACbh5BXj4GMOAX4AeSADC0Aaj+/t6cAAAAAElFTkSuQmCC") repeat scroll 0 0;
  content: "";
  height: 5px;
  width: 9px;
  position: absolute;
  right: 20px;
  top: 16px; }

.custom-select-text {
  display: block;
  line-height: 40px;
  overflow: hidden;
  padding: 0 0 0 15px;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; }

.custom-checkbox {
  display: inline-block; }

.custom-checkbox input {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  left: -1000px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  z-index: -1000; }

.custom-checkbox label {
  display: inline-block;
  margin-left: 34px;
  min-height: 19px;
  position: relative; }

.custom-checkbox label:before {
  content: "";
  display: block;
  height: 19px;
  width: 19px;
  overflow: hidden;
  background: url("http://csscheckbox.com/checkboxes/u/csscheckbox_cc483c9d8cd8f37fc10726a14959a7d0.png") no-repeat;
  cursor: pointer;
  position: absolute;
  left: -34px;
  top: 0; }

.custom-checkbox input:checked + label:before {
  background-position: 0 -19px; }

.custom-checkbox_disabled {
  opacity: 0.4;
  pointer-events: none; }

.custom-checkbox_on-right {
  margin-left: 0;
  margin-right: 34px; }

.custom-checkbox_on-right label {
  margin-left: 0; }

.custom-checkbox_on-right label:before {
  left: auto;
  right: -34px; }

.custom-radio {
  display: none; }

.custom-radio + label {
  display: inline-block;
  margin-left: 34px;
  min-height: 19px;
  position: relative; }

.custom-radio + label:before {
  content: "";
  display: block;
  height: 19px;
  width: 19px;
  overflow: hidden;
  background: url("http://csscheckbox.com/checkboxes/u/csscheckbox_cc483c9d8cd8f37fc10726a14959a7d0.png") no-repeat;
  cursor: pointer;
  position: absolute;
  left: -34px;
  top: 2px; }

.custom-radio:checked + label:before {
  background-position: 0 -19px; }

.custom-radio:disabled + label {
  opacity: .4;
  pointer-events: none; }

.layout-form-vert-1 .layout-form-row {
  margin-bottom: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-direction: column;
  flex-direction: column; }

@media (max-width: 1024px) {
  .layout-form-vert-1 .layout-form-row {
    margin-left: -10px;
    margin-right: -10px; } }

@media (max-width: 1300px) {
  .layout-form-vert-1 .layout-form-row {
    margin-left: -15px;
    margin-right: -15px; } }

.layout-form-vert-1 .layout-form-row .input {
  width: 100%; }

.layout-form-vert-2 .layout-form-row {
  margin-bottom: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-align: center;
  align-items: center; }

@media (max-width: 1024px) {
  .layout-form-vert-2 .layout-form-row {
    margin-left: -10px;
    margin-right: -10px; } }

@media (max-width: 1300px) {
  .layout-form-vert-2 .layout-form-row {
    margin-left: -15px;
    margin-right: -15px; } }

@media (max-width: 760px) {
  .layout-form-vert-2 .layout-form-row {
    display: block;
    margin-left: 0;
    margin-right: 0; } }

.layout-form-vert-2 .layout-form-row label {
  width: 150px; }

@media (max-width: 760px) {
  .layout-form-vert-2 .layout-form-row label {
    display: block;
    width: auto; } }

.layout-form-vert-2 .layout-form-row .input,
.layout-form-vert-2 .layout-form-row .select-custom {
  width: calc(100% - 150px); }

@media (max-width: 760px) {
  .layout-form-vert-2 .layout-form-row .input,
  .layout-form-vert-2 .layout-form-row .select-custom {
    width: 100%; } }

.layout-form-inline .layout-form-row {
  margin-left: 50px;
  display: inline-block; }

.layout-form-inline .layout-form-row:first-child {
  margin-left: 0; }

.layout-form-inline .layout-form-row label {
  margin-right: 10px; }

.layout-form-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

@media (max-width: 1024px) {
  .layout-form-column {
    margin-left: -10px;
    margin-right: -10px; } }

@media (max-width: 1300px) {
  .layout-form-column {
    margin-left: -15px;
    margin-right: -15px; } }

.layout-form-column .layout-form-col-1 {
  width: 45%; }

.layout-form-column .layout-form-col-2 {
  width: 100%; }

.layout-form-column .layout-form-col-2 .button {
  width: 100%; }

.layout-form-column .layout-form-inline .layout-form-row {
  width: calc(50% - 50px);
  margin-left: 0; }

.layout-form-column .layout-form-inline .layout-form-row:first-child {
  margin-right: 100px; }
